<script src="/socket.io/socket.io.js"></script>
<!--<script src="//autenticacionluis.herokuapp.com/sockets/main.js"></script>-->

<%- layout('layouts/main.ejs') %>

<!--
<div class="jumbotron mt-4">
        <div class="container">
<h1>Chat general</h1>
    <div id="messages"></div>
    <br>
    <form onsubmit="return addMessage(this)">
        <div class="form-group">
                <input style="visibility: hidden" type="text" id="name" value="<%- user.name %>" class="form-control">
                <input type="text" id="texto" placeholder="Mensaje a enviar" class="form-control">
        </div>    
        <button class="btn btn-primary btn-block mt-4" type="submit">Enviar</button>
    </form>

    </div>
    </div>
-->
    <div class="jumbotron mt-4">
                <div class="container">
                        <h1>Recolecta recursos</h1>
                        <p>Recoge materiales para mejorar tu fortaleza</p>
                        <div><p id="geolat"></p>
                                <p id="geolon"></p>
                                <p id="distancia"></p>
                        </div>
                        <div id="suministro"></div>
                        <div id="map"></div>
                        <button class="btn btn-primary btn-block mt-4" id="geoloc" onclick="initMap()"> Recolectar</button>

                      <script src="//autenticacionluis.herokuapp.com/sockets/geoloc.js"></script>
                  <!--   <script src="http://localhost:3200/sockets/geoloc.js"></script>-->
                 
    <script>
    //////MAPS

function initMap() {
  
  var lat1 = parseFloat(document.getElementById("geolat").nodeValue);
  var lon1 = parseFloat(document.getElementById("geolon").nodeValue);
  console.log(lat1+" "+lon1);
  var myLatLng = {lat: lat1, lng: lon1};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 4,
    center: myLatLng
  });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Estás aquí'
  });
}

/////// MAPS
</script>
 <script async defer
 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_wkz5lw2oywmDcQwQu4CZRnr6KaMq9WE
 &callback=initMap">
 </script>