<!--<script src="/socket.io/socket.io.js"></script>-->
<script src="//autenticacionluis.herokuapp.com/sockets/main.js"></script>
<script src="./sockets/main.js"></script>
<%- layout('layouts/main.ejs') %>

    <div class="jumbotron mt-4">
                <div class="container">
                        <h1>Recolecta recursos</h1>
                        <p>Recoge materiales para mejorar tu fortaleza</p>
                        <div><p id="geolat"></p>
                                <p id="geolon"></p>
                                <p id="distancia"></p>
                        </div>
                        <div id="suministro"></div>
                        <button class="btn btn-primary btn-block mt-4" id="geoloc" > Recolectar</button>
                </div>
                <div class="container">
                        <div id="map">

                        </div>

                    <script src="//autenticacionluis.herokuapp.com/sockets/geoloc.js"></script>
                   <!--    <script src="http://localhost:3200/sockets/geoloc.js">-->
                </script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_wkz5lw2oywmDcQwQu4CZRnr6KaMq9WE">

    </script>
