<%- layout('layouts/main.ejs') %>


<div class="jumbotron  mt-4">
    <h2>¡Bienvenido a Protect Your Realm!</h2>
    <p class="lead">Consigue recursos y gestiónalos para mejorar tu ciudad, alimentar a tus vasallos y crear un gran ejército.</p>
    <hr class="my-4">
    
    <div class="container">
        <div class="row">
            <div class="col-sm inicio">
    <h3>Comenzar ya</h3>
    <p>Si aún no tienes una, crea ya tu fortaleza. Te beneficiará ubicarla cerca de donde pases más tiempo, pues la <strong>recolección de recursos será más eficiente</strong>, pronto lo entenderás.</p>
    <p>Forja<strong> alianzas</strong> con otros reinos y saquea otras ciudades.</p>
    <p>Invierte en <strong>cultura y tecnología, </strong>tu pueblo te hará más poderoso.</p>
    <p>Extrae <strong>recursos en el mundo real</strong>. Busca a tu alrededor, el mundo está lleno de sorpresas...</p>
    <p>Crea tu <strong>ejército</strong> y expándete.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Crear mi Fortaleza</a>
      </p>
  </div>
  <div class="col-sm separamovil">
      <h3 class="separaheader">Accede a Tu Fortaleza</h3>
      <p>¿Ya tienes una cuenta?</p>
      <form action="/signin" method="POST">
        <div class="form-group">
                <input type="email" name="email" placeholder="Introduzca email" class="form-control">
        </div>
        <div class="form-group">
                <input type="password" name="password" placeholder="Introduzca contraseña" class="form-control">
        </div>
        <button class="btn btn-primary btn-block mt-4" type="submit">Acceder</button>
    </form>
    </div>
</div>