<%- layout('layouts/main.ejs') %>

<form action="/signin" method="POST">
    <input type="email" name="email" placeholder="Introduzca email">
    <input type="password" name="password" placeholder="Introduzca contraseña">
    <button type="submit">Acceder</button>
</form>


