.inicio{
    border-right: 1px solid #ccc;
}
.footerimg{
    max-width: 400px;
    padding: 1em;
}

.avatar{
    border-radius: 10%; max-width: 20rem;
}

.menuppal{
}

body{
    background-image: url("../assets/images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-attachment: fixed;
}

footer{
    background-color: whitesmoke;
    border-top-left-radius: 0.35em;
    border-top-right-radius: 0.35em;
}
@media only screen and (max-width: 1000px) {
    .inicio {
        border-right: none;
    }
    .avatar{
        border-radius: 10%; max-width: 10rem;
    }
    .footerimg{
        max-width: 200px;
        padding: 5px;
    }
    .separamovil{
        border-top: 1px solid #ccc;
        margin-top: 5px;
    }
    .separaheader{
        margin-top:5px;
    }
}

#map {
        height: 100%;
      }

      .map-control {
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
        font-family: 'Roboto','sans-serif';
        margin: 10px;
        /* Hide the control initially, to prevent it from appearing
           before the map loads. */
        display: none;
      }
      /* Display the control once it is inside the map. */
      #map .map-control { display: block; }

      .selector-control {
        font-size: 14px;
        line-height: 30px;
        padding-left: 5px;
        padding-right: 5px;
      }
      #map {
        height: 400px;
        padding: 2em;
      }