<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
    <link rel="stylesheet" href="styles/fortaleza.css">
    <title>Luis App</title>
</head>
<body>
    
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="/">PYR</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
                        <% if (user) { %>
                    
                    <li class="nav-item">
                            <a class="nav-link" href="/profile">Perfil</a>
                          </li>
                    <li class="nav-item">
                            <a class="nav-link" href="/logout">Salir</a>
                          </li>
                          <% } else {%>

                          <li class="nav-item">
                                <a class="nav-link" href="/signin">Acceder</a>
                              </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/signup">Registrarse</a>
                    </li>
                    <% }%>
                  </ul>
                </div>
              </nav>


    <div class="container">

            <%- body %>

        <% if (signupMessage.length >0) { %>
            <div class="alert alert-danger"> <%= signupMessage %></div>
        <% } %>
        <% if (signinMessage.length >0) { %>
            <div class="alert alert-danger"> <%= signinMessage %></div>
        <% } %>
    </div>

  </div>
    <!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">Protect Your Realm</h5>
          <p>Descarga también la versión para Android o iOS.</p>
          <a href="http://www.pyrgame.com"> <img class="footerimg" src="https://play.google.com/intl/es-419_mx/about/giftcards/img/googleplay_logo.svg" alt="gplay"></a>
          <a href="http://www.pyrgame.com"> <img class="footerimg" src="https://support.spotio.com/hc/en-us/article_attachments/210541567/Download_on_the_App_Store_Badge.svg.png" alt="itunes"></a>
        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="www.pyrgame.com"> www.pyrgame.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
    
    <script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
    <script src="https://bootswatch.com/_vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://bootswatch.com/_assets/js/custom.js"></script>
</body>
</html>